<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>DevMountain</title>
</head>
<body>
<main>
	<header>
		<h1>Initial View No Data</h1>
	</header>
	<nav>
		<div class="navLeft"> button here<span><span class="devHeader navMiddle">DevMountain</span><span class="navRight">dropdown here</span></span></div>
	</nav>
	<article>
		<p>Welcome to <span>DevMountain</span>Social</p>
		<p>Add Some Info So Friends Can Find You</p>
		<input ng-model='name' type="text" placeholder="FullName">
		<input ng-model='tagline' type="text" placeholder="Tagline">
		<input ng-model='image' type="text" placeholder="Profile Image Url">
		<input ng-model='bio' type="text" placeholder="Bio">
		<button>Save Changes</button>
	</article>
	<section>image goes here</section>
	<footer>
		<span>View Friends<span>Find Friends</span><span>Update Profile</span></span>
	</footer>
	</main>
</body>
</html>
