body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}
h1{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9A9A9A;
    padding-bottom: .5%;
    margin-bottom: 4%;
    margin-top: 1%;
    width: 100%;
}
article{
    width: 31%;
    display: inline-block;
    float: left;
    margin-left: 4%;
}
section{
    padding-top: 1%;
    float: left;
    width: 65%;
    display: inline-block;
}
footer{
    position: absolute;
    clear: left;
    left: 18%;
    width: 61%;
    border-top: 1px solid  #9A9A9A;
    display: flex;
    justify-content: space-between;
    bottom: 5%;
}
footer span{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #9A9A9A;
}
footer a{
    text-decoration: none;
    color: #9A9A9A;
}

/*Home View
*/
.top-para{
    width: 81%;
}
.top-para {
    text-align: center;
    font-size: 22px;
}
.top-para:nth-child(1){
    margin-bottom: -20px;
}
.devHeader{
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #272727;
}
.navMiddle{
    width: 10%;
    display: inline-block;
    margin-top: 1.5%;
}
.navLeft{
    display: inline-block;
    height: 30px;
    width: 30px;
}
.navRight{
    display: inline-block;
    width: 30px;
    height: 30px;
}
nav a{
   margin: 2% 2% 0 2%;
}
.greenDiv{
    color: #00FFE9;
}
::-webkit-input-placeholder{
    font-size: 24px;
    padding-left: 10px;
}
.inputs{
    font-family: 'Lora', serif;
    width: 80%;
    height: 4vh;
    font-size: 24px;
    margin-bottom: 2vh;
}
.bio{
    width: 80%;
    padding-bottom: 18vh;
    font-size: 20px;
    display: table;
    overflow: scroll;
}
.save-button{
    color: #9A9A9A;
    height: 3.5vh;
    width: 81%;
    background-color: rgba(0, 255, 255, 0.55);
    border: 1px solid #00FFFF;
    font-size: 18px;
   // margin-bottom: 32%;
}
.img-one{
    height: 58vh;
    width: 39vw;
    opacity: .2;
    background-position: center;
    background-image: url("http://assets2.ignimgs.com/2015/06/11/darksouls1280jpg-98f75c_1280w.jpg");
    background-color: #9A9A9A;
    -webkit-clip-path: polygon(0 61%, 100% 72%, 53% 0);
    clip-path: polygon(0 68%, 98% 83%, 50% 0);
}
.img-one-div{
    margin-left: 5%;
    height: 58vh;
    width: 39vw;
    background-color: #9A9A9A;
    -webkit-clip-path: polygon(0 61%, 100% 72%, 53% 0);
    clip-path: polygon(0 68%, 98% 83%, 50% 0);

}
.img-two-div{
    height: 56vh;
    width: 41vw;
    background-color: #00FFE9;
    -webkit-clip-path: polygon(0 41%, 100% 30%, 58% 100%);
    clip-path: polygon(0 34%, 92% 20%, 55% 100%);
    position: absolute;
    bottom: 19vh;
    right: 18vw;;
}
.img-two{
    height: 56vh;
    width: 41vw;
    opacity: .7;
    background-image: url("http://assets2.ignimgs.com/2015/06/11/darksouls1280jpg-98f75c_1280w.jpg");
    background-position:center;
    -webkit-clip-path: polygon(0 41%, 100% 30%, 58% 100%);
    clip-path: polygon(0 34%, 92% 20%, 55% 100%);
    position: absolute;
}

/* Landing View
*/
.landing-top{
    width: 100%;
    margin-left: 7%;
    margin-top: -15%;
}
.landing-name{
    width: 55%;
    font-size: 70px;
    font-family: 'Lora', serif;
    color: #272727;
    text-align: left;
    margin-bottom: 0%;
}
.landing-last-name{
    font-size: 70px;
    font-family: 'Lora', serif;
    color: #272727;
    margin-top: 0px;
    margin-left: 16%;
}
.landing-tag{
    font-size: 25px;
    font-family: 'Lora', serif;
    color: #000000;
    text-align: left;
    margin-top: -10%;
    width: 80%;
}
.landing-bio{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: justify;
    width: 85%;
}