<nav>
    <a ui-sref="land"><img src="images/Icons/Search.svg" class="navLeft"></a><div class="devHeader  navMiddle">DevMountain</div><a ui-sref="home"><img src="images/Icons/Ham.svg" class="navRight"></a>
</nav>
<article>
    <div class="landing-top">
        <p class="landing-name">{{profile.name[0]}}</p>
        <p class="landing-last-name">{{profile.name[1]}}</p>
        <h3 class="landing-tag">{{profile.tagline}}</h3>
        <p class="landing-bio">{{profile.bio}}</p>
    </div>
</article>
<section>
    <div class="img-one-div">
        <img  class="img-one" src="http://assets2.ignimgs.com/2015/06/11/darksouls1280jpg-98f75c_1280w.jpg">
    </div>
    <div class="img-two-div">
        <img class="img-two" ng-src="{{profile.image}}">
    </div>
</section>
