<nav>
    <a ui-sref="land"><img src="../images/Icons/Search.svg" class="navLeft"></a><div class="devHeader  navMiddle">DevMountain</div><a ui-sref="home"><img src="images/Icons/Ham.svg" class="navRight"></a>
</nav>
<article>

    <p class="top-para"><strong >Welcome to <span class="greenDiv">DevMountain</span> Social</strong></p>
    <p class="top-para"><strong>Add Some Info So Friends Can Find You</strong></p>

    <input class="inputs" ng-model='name' type="text" placeholder="Full Name"><br/>
    <input class="inputs" ng-model='tagline' type="text" placeholder="Tagline"><br/>
    <input class="inputs" ng-model='image' type="text" placeholder="Profile Image Url"><br/>
    <textarea class="inputs bio" ng-model='bio' placeholder="Bio"></textarea><br/>
    <button ui-sref="land" class="save-button" ng-disabled="!name || !tagline || !bio" ng-click="storeProfile({'name': name.split(' '), 'tagline': tagline, 'image': image, 'bio': bio})">Save Changes</button><br/>
</article>
<section>
    <div class="img-one-div">
        <img  class="img-one" src="http://assets2.ignimgs.com/2015/06/11/darksouls1280jpg-98f75c_1280w.jpg">
    </div>
    <div class="img-two-div">
        <img class="img-two" src="https://s.aolcdn.com/hss/storage/midas/2a5d19e87f450db51322047641b4df0f/203890485/e9386bce455b00ad4380af046e247f1a.jpg">
    </div>
</section>